.Form-container {
  /* margin: 18px 58px 0  58px; */
  background-color: #fff;
  height: 100vh;
  padding: 58px 28px;
  margin: auto;
}

.form-control {
  border: 0 !important;
  background-color: #f3f3f3 !important;
}

.form-control:focus {
  box-shadow: 2px 6px 4px -3px rgba(158,158,158,1) !important;
  border: 0 !important;
}

.checkBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.checkBox input {
  border: none !important;
  background-color: #f3f3f3;
}

button {
  border-radius: 25px !important;
}

button:hover {
  background-color: #987899 !important;
}
